body{
	background-image: url(pictures/pexels-photo-259588.jpeg);
	background-repeat: no-repeat;
	background-size: 110%;
}
.pageheader{
	background-color: #ffffcc;
}

ul{
	font-weight: bold;
}

form{
	text-align: center;
	padding: 20px;
}
.bg-1{
	background-color: #ffffcc;
	padding: 0px;
	padding-bottom: 20px;
	font-weight: bold;
	font-size: 200%;

}

.bg-2{
	background-color: #A6C5C1;
	padding: 0px;
	margin-top: 150px;
	}
.bg-3{
	background-color: #A6C5C1;
	padding: 0px;
}
.bg-4{
	background-color: #A6C5C1;
	padding: 0px;
}
.bg-5{
	background-color: #A6C5C1;
	padding: 0px;
}
p{
	font-size: 120%;
	font-family: sans-serif, serif, monospace;
}
.form-inline{
	margin-top: 100px;
}
.well{
	background-color: #a6a6a6;
	margin-top: 32px;
}
footer{
	font-size: 120%;
}

